#############################
########## GENERAL ##########
#############################
MAINTAINER_NAME="Your Name"
MAINTAINER_MAIL=your@email.com
VCS=https://github.com/chrysa/usefull-containers.git
DOCKER_REPO=chrys4
COMPOSE_HTTP_TIMEOUT=600

#############################
########## VERSION ##########
#############################
BLACK_CONTAINER_VERSION=0.1.0
DANGO_DRF_CONTAINER_VERSION=0.1.0
FLAKE8_CONTAINER_VERSION=0.1.0
FLASK_CONTAINER_VERSION=0.1.0
FLASK_DB_MIGRATIONS_CONTAINER_VERSION=0.1.0
HADOLINT_CONTAINER_VERSION=0.1.0
MYPY_CONTAINER_VERSION=0.1.0
PRE_COMMIT_CONTAINER_VERSION=0.1.0
PYLINT_CONTAINER_VERSION=0.1.0
PYTHON_DEV_CONTAINER_VERSION=0.1.0
PYTEST_CONTAINER_VERSION=0.1.0
REORDER_PYTHON_IMPORTS_CONTAINER_VERSION=0.1.0
SPHINX_CONTAINER_VERSION=0.1.0
